.login_container {
  height: 100vh;
  width: 100%;
  background-image: url(/Images/LoginPage/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
}

.login_form_container {
  background-color: white;
  border-radius: 10px;
  min-width: 40%;
  min-height: 40%;
  width: auto;
  height: auto;
}

.left_side_form_container {
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 2rem;
}
.left_side_form_container2 {
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 10px;
}

.left_side_form_container > img {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}
.right_side_form_container {
  width: 80%;
  margin: auto;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  line-height: normal;
}
.right_side_form_container > p:nth-child(2) {
  font-size: 1rem;
  font-weight: normal;
  color: #77878f;
}

.login_form_loginPage {
  width: 80% !important;
  margin: auto;
  color: #191c1f;
  margin-bottom: 2rem !important;
}
.register_form_loginPage {
  width: 80% !important;
  margin: auto;
  color: #191c1f;
  margin-bottom: 1rem !important;
}

.login_page_btn {
  width: 100% !important;
  background-color: #febf05 !important;
  border: none !important;
  color: white !important;
  /* padding: 1rem !important; */
  border-radius: 5px !important;
  margin-bottom: 1rem !important;
  color: white;
  font-weight: bold;
  font-size: large;
}

.login_page_btn_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login_page_btn_icon {
  font-size: 1.5rem;
}

.HOC_Admin_Panel {
  display: grid;
  grid-template-columns: 16% 79%;
  height: 100vh;
  width: 100%;
  background-color: white;
  gap: 1rem;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.admin_sidebar {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.sidebar_container {
  width: 80%;
  margin: auto;
  color: #191c1f;
  font-weight: bold;
  font-size: large;
  margin-top: 2rem;
}

.sidebar_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.sidebar_logo > img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.sidebar_items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar_item:hover {
  background-color: #f0f7ff;
  cursor: pointer;
  color: #febf05;
  border-radius: 5px;
}

.sidebar_item {
  color: #c7c7c7;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 1rem;
}

.sidebar_item > span {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 70%;
  margin: auto;

  @media screen and (max-width: 1168px) {
    width: 100%;
  }

  .icon_dashboard {
    font-size: 20px;
  }
}

.sidebar_item_bottom {
  margin-top: 80%;
}

.navbar-items {
  display: flex;
  flex-direction: column;
}

.navbar-items > span:first-child {
  font-weight: bold;
  font-size: 3rem;
  color: #404040;
  font-family: "Nunito", sans-serif;
}
.navbar-items > span:last-child {
  font-size: 1rem;
  color: #aeaeae;
  font-family: "Nunito", sans-serif;
}

.navbar-items_right {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.navbar-items_right_profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.navbar-items_right_profile_name {
  display: flex;
  flex-direction: column;
}

.navbar-items_right_profile_name > span:first-child {
  font-size: 1rem;
  font-weight: bold;
}
.navbar-items_right_profile_name > span:last-child {
  font-size: 1rem;
  color: #aeaeae;
}

.navbar-items_right_profile_image {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.dashboard_container {
  margin: 2rem;
  height: 75vh;
  padding: 1rem;
  width: 97%;
  overflow: scroll;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.dashboard_container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dashboard_container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.dashboard_container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.dashboard_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nSans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

.dashboard_container_split {
  display: grid;
  grid-template-columns: 22% 75%;
}

.dashboard_container_split_title {
  font-weight: bold;
  font-size: 2.5rem;

  font-family: "Nunito Sans", sans-serif;
  color: #202224;
}

.dashboard_container_split_totals {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  cursor: pointer;
}

.dashboard_container_split_totals > span:first-child {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  color: #202224;
}

.dashboard_container_split_totals > span:first-child > p:first-child {
  font-size: 1rem;
  color: #606060;
}

.dashboard_container_split_totals > span:first-child > p:last-child {
  font-size: 1.4rem;
  color: #202224;
}
.dashboard_container_split_totals31 {
  display: grid;
  grid-template-columns: 7% 90%;
  gap: 0.2rem;
}

.dashboard_container_split_totals21 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard_container_split_totals44 > p {
  border: "1px solid red";
  color: #aeaeae;
  font-size: 0.8rem;
  font-weight: 400;
}

.progress-bar-custom {
  width: 100% !important;
  height: 10px !important;
  margin-bottom: 5px;
  margin-top: 0.2rem;
}
.progress-bar-custom1 {
  width: 100% !important;
  height: 10px !important;
  margin-bottom: 5px;
  margin-top: 0.2rem;
  color: #77878f !important;
  .bg-success {
    background-color: #77878f !important;
  }
}

.dashboard_container_split_totals_image_1 {
  max-width: 40px;
  max-height: 40px;
  border-radius: 5px;
  object-fit: cover;
}

.dashboard_container_split_totals3121 {
  display: grid;
  grid-template-columns: 90% 10%;
  gap: 1.2rem;
  align-items: center;
}
.dashboard_container_split_totals5_text {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  color: #aeaeae;
}

.dashboard_container_split_totals_image {
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.dashboard_container_split_totals1 {
  display: grid;
  grid-template-columns: 80% 10%;
  gap: 1.2rem;
  align-items: center;
  opacity: 0.5;
  margin-bottom: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
}

.dashboard_container_split2 {
  padding: 1rem;
}

.dashboard_container_split_totals2 {
  display: flex;
  justify-content: space-between;
}

.custom-hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #000;
  height: 1px;
  margin: 0;
}

.custom-span {
  margin: 0 10px;
}

.promotion_container {
  width: 80%;
}

.promotion_container_split1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 3rem;
}

.promotion_container_split1 > p {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  color: #202224;
  text-align: center;
}

.promotion_container_bannerImage {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: #f6f8fa;
  border-radius: 10px;
  padding: 3rem;
  font-size: 1.2rem;
  color: #7f898b;
  cursor: pointer;
}
.bannerBtn {
  margin-top: 3rem;
}

.bannerBtn > Button {
  background-color: #febf05;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.bannerBtn > Button:hover {
  background-color: red !important;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.promotion_container_form {
  color: #7f898b;
  font-weight: 600;
}

.banner-preview {
  max-width: 100%;
  max-height: 150px;
  border-radius: 10px;
}

.promotion_container_split_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  align-items: center;
}

.delivery_container_split_totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.delivery_container_split_totals > div:last-child > Button {
  background-color: #febf05 !important;
  padding: 0.5rem 1.5rem !important;
  border-radius: 5px !important;
  color: white !important;
  border: none !important;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.admin-profile {
  padding: 2rem;
  width: 95%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 20% 70%;
  gap: 2rem;
  padding-right: 0%;
}
.admin-profile-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
  color: #202224;
  font-size: 1rem;
  text-align: center;
}

.admin-profile-header > p {
  cursor: pointer;
}

.setting_form {
  font-size: 1.2rem;
  font-weight: 600;
  color: "#D9D9D9";
}

.mainIcon_animation {
  animation: rotate 2s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.setting_edit_btn > Button {
  background-color: #febf05;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 4rem;
}

.SettingParagraph {
  width: 95%;
  margin: auto;
}

.promotion_container_1{
  display: flex;
  gap:"1rem";
  font-size:1rem;
  font-weight: 700;
  color:#757575
}


.promotion_container_1>div{
  padding: 1rem;
  background-color: #F8F8F8;
  margin: 1rem;
  border-radius: 8px;
}

.promotion_container_3{
  display: flex;
  gap: 1rem;
}

.promotion_container_3>p{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color:#7F898B;
  font-weight:700;
  font-size: large;

}

.promotion_container_2{
  display: flex;
  justify-content: space-between;
  margin-right: 12rem;
  
  color:#7F898B;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.complete-booking{
  background-color: #00B69B;
  padding: 5px 6px;
  color: #FFFF;
  border-radius: 10px;
  font-size: 14px;
}
.pending-booking{
  background-color: #F1F4F9;
  padding: 5px 6px;
  color: #4D4E50;
  border-radius: 10px;
  font-size: 14px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

h2 {
  margin-top: 0;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

}
.input-label {
  margin-bottom: 6px;
 color: #202224;
font-weight: 700;
}

.assign-button {
  width: 100%;
  padding: 10px;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.assign-button:hover {
  background-color: #019a7a;
}

.active-status{
  color: #FFFFFF;
  background-color: #00B69B;
  border-radius: 9px;
  padding: 5px 10px;
  border: "none",
}
.inactive-status{
  color: #FFFFFF;
  background-color: #FCBE2D;
  border-radius: 9px;
  padding: 5px 10px;
  border: "none",
}
.active-button{
  padding: 5px 12px;
  border-radius: 5px;
  background-color: rgb(82, 82, 241);
  color: #FFFFFF;
  border: none;
}
.nonActive-button{
  padding: 5px 12px;
  border-radius: 5px;
  background-color: transparent;
  color: blue;
  border: 1px solid rgb(82, 82, 241);
}